@import "./variables";
@import "./mixins";

.footer {
    background-color: #000;
    padding-top: 66px;
    text-align: center;
    
    width: 100%;
    padding-bottom: 70px;
}

.touch {
    @include fontParameters (700, 16px, 22px, #FEFEFE);
    text-transform: uppercase;
}

.p-touch {
    @include fontParameters (400, 16px, 28px, #B9B9B9);
    @include p-touch-margin();
    display: inline-block;
    margin-top: 22px;
    margin-bottom: 37px;
}

.p-touch320 {
    display: none;
}

.flex-links {
    @include flexCenter();
    width: 194px;
    height: 34px;
    margin: auto;
    margin-bottom: 34px;
}

.link {
    width: 34px;
    height: 34px;
    border-radius: 50px;
}

.logo {
    margin-top: 8px;
}

.rss {
    @include logo(#F8902E);    
}

.facebook {    
    @include logo(#39599F);
}

.twitter {    
    @include logo(#45B0E3);
}

.dribble {    
    @include logo(#D97AB0);
}

.pinterest {    
    @include logo(#CC212C);
}

.contacts {
    @include fontParameters (400, 16px, 26px, #B9B9B9);
}

.contacts320 {
    @include fontParameters (400, 16px, 26px, #B9B9B9);
    display: none;
}