@import "./variables";
@import "./mixins";

a {
    text-decoration: none;
}

.container {
    width: 1600px;
    padding-left: 215px;
    padding-right: 215px;    
    margin: auto;
}

.header {        
    @include fontParameters (400, 11px, 22px, #4E4E4E);
    letter-spacing: 1.1px;
    text-transform: uppercase;
    width: 100%;   
    margin: auto;
} 

.button {
    width: 44px;
    height: 37px;
    background-color: #000;
    cursor: pointer;
    display: none;
}

.menu-icon {
    display: none;
}

.x {
    display: none;
}

.burger-menu {
    display: none;
    width: 182px;
    height: 208px;
    background-color: #F5F5F5;
    position: absolute;
    top: 60px;
    left: 164px;
}

.inactive {
    display: none;
}

.first-menu-item {
    color: #57A4A4
}

.menu-item {
    color: #4E4E4E;   
}

.nav {
    margin: auto;
}

.menu {
    @include flexCenter();
    height: 118px;
    margin-left: 179px;
    margin-right: 179px;
}