@import "./variables";
@import "./mixins";


.img {
    background-image: url("./img/intro-img.png");
    width: 1170px;
    height: 550px;
}

.posts {
    @include fontParameters (700, 16px, 22px, #4E4E4E);
    text-transform: uppercase;
    margin-top: 66px;
    margin-bottom: 24px;
    display: block;
}

.grid-container {
    height: 312px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 69px;
}

.grid-item {
    @include flexCenter
}

.grid-image {
    width: 160px;
    height: 140px; 
}

.item-three, .item-four {
    padding-top: 16px;
} 

.text-box {
    width: 404px;    
}

.title {
    @include fontParameters (700, 16px, 30px, #4E4E4E);
}

.comment {
    @include fontParameters (400, 12px, 20px, #7C7C7C);
}

.p {
    @include fontParameters (400, 14px, 26px, #5C5C5C);
    margin-top: 5px;
}