@import "./variables";
@import "./mixins";

.section-three {
    background-color: rgba(0, 0, 0, 0.03);
    width: 100%;
    padding-top: 47px;
    padding-bottom: 49px;
}

.buttons {
    @include flexCenter();
}

.flex-box {
    @include flexCenter();
    height: 285px;
    width: 1167px;
}

.flex-item {
    width: 285px;
    height: 285px;
}

.posts2 {
    @include fontParameters (700, 16px, 22px, #4E4E4E);
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}

.posts3 {
    @include fontParameters (700, 13px, 22px, #4E4E4E);
    text-transform: uppercase;
    display: block;
    padding-bottom: 15px;
}