@import "./variables";
@import "./mixins";
@import "./header";
@import "./main";
@import "./section-three";
@import "./footer";

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    @include pageFont();
    background-color: $backgroundcolor;
}

@media (max-width: 1200px) {

    .container {
        width: 1600px;
        padding-left: 215px;
        padding-right: 215px;    
        margin: auto;
    }

    .header{    
        @include fontParameters (400, 11px, 22px, #4E4E4E);
        letter-spacing: 1.1px;
        text-transform: uppercase;
        width: 100%;   
        margin: auto;
    } 

    .button {
        width: 44px;
        height: 37px;
        background-color: #000;
        cursor: pointer;
        display: none;
    }
    
    .menu-icon {
        display: none;
    }
    
    .x {
        display: none;
    }
    
    .first-menu-item {
        color: #57A4A4
    }
    
    .menu-item {
        color: #4E4E4E;   
    }
    
    .nav {
        margin: auto;
    }
    
    .menu {
        @include flexCenter();
        height: 118px;
        margin-left: 179px;
        margin-right: 179px;
    }

    .img {
        background-image: url("./img/intro-img.png");
        width: 1170px;
        height: 550px;
    }
    
    .posts {
        @include fontParameters (700, 16px, 22px, #4E4E4E);
        text-transform: uppercase;
        margin-top: 66px;
        margin-bottom: 24px;
        display: block;
    }
    
    .grid-container {
        height: 312px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 69px;
    }
    
    .grid-item {
        @include flexCenter
    }
    
    .grid-image {
        width: 160px;
        height: 140px; 
    }
    
    .item-three, .item-four {
        padding-top: 16px;
    } 
    
    .text-box {
        width: 404px;        
    }
    
    .title {
        @include fontParameters (700, 16px, 30px, #4E4E4E);
    }
    
    .comment {
        @include fontParameters (400, 12px, 20px, #7C7C7C);
    }
    
    .p {
        @include fontParameters (400, 14px, 26px, #5C5C5C);
        margin-top: 5px;
    }

    .section-three {
        background-color: rgba(0, 0, 0, 0.03);
        width: 1600px;
        padding-top: 47px;    
    }

    .buttons {
        @include flexCenter();
    }
    
    .flex-box {
        @include flexCenter();
        height: 285px;
        width: 1167px;
    }
    
    .flex-item {
        width: 285px;
        height: 285px;
    }
    
    .posts2 {
        @include fontParameters (700, 16px, 22px, #4E4E4E);
        text-transform: uppercase;
        margin-bottom: 25px;
        display: block;
    }
    
    .posts3 {
        @include fontParameters (700, 13px, 22px, #4E4E4E);
        text-transform: uppercase;
        display: block;
        padding-bottom: 15px;
    }

    .footer {
        background-color: #000;
        padding-top: 66px;
        text-align: center;
        margin: auto;
        width: 1600px;
        padding-bottom: 70px;
    }

    .touch {
        @include fontParameters (700, 16px, 22px, #FEFEFE);
        text-transform: uppercase;
    }
    
    .p-touch {
        @include fontParameters (400, 16px, 28px, #B9B9B9);
        @include p-touch-margin();
        display: inline-block;
        margin-top: 22px;
        margin-bottom: 37px;
    }
    
    .p-touch320 {
        display: none;
    }
    
    .flex-links {
        @include flexCenter();
        width: 194px;
        height: 34px;
        margin: auto;
        margin-bottom: 34px;
    }
    
    .link {
        width: 34px;
        height: 34px;
        border-radius: 50px;
    }
    
    .logo {
        margin-top: 8px;
    }
    
    .rss {
        @include logo(#F8902E);    
    }
    
    .facebook {    
        @include logo(#39599F);
    }
    
    .twitter {    
        @include logo(#45B0E3);
    }
    
    .dribble {    
        @include logo(#D97AB0);
    }
    
    .pinterest {    
        @include logo(#CC212C);
    }
    
    .contacts {
        @include fontParameters (400, 16px, 26px, #B9B9B9);
    }
    
    .contacts320 {
        @include fontParameters (400, 16px, 26px, #B9B9B9);
        display: none;
    }
}

@media (max-width: 768px) {

    .header{    
        @include fontParameters (400, 11px, 22px, #4E4E4E);
        letter-spacing: 1.1px;
        text-transform: uppercase;
        width: 100%;   
        margin: auto;
    } 

    .container {
        width: 940px;
        padding-left: 80px;
        padding-right: 92px;           
        margin: auto;
    }

    .menu {
        @include flexCenter();
        height: 106px;
        margin-left: 84px;
        margin-right: 75px;
    }

    .img {
        background-image: url("./img/intro-img.png");
        width: 768px;
        height: 361px;
    }


    .section-three {
        background-color: rgba(0, 0, 0, 0.03);
        width: 940px;
        padding-top: 47px;
    }

    .posts2 {
        @include fontParameters (700, 16px, 22px, #4E4E4E);
        text-transform: uppercase;
        display: block;
    }

    .posts3 {
        @include fontParameters (700, 13px, 22px, #4E4E4E);
        text-transform: uppercase;
        display: block;
        padding-bottom: 23px;
    }

    .grid-container {
        height: 656px;
        width: 585px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .flex-box {
        @include flexCenter();
        height: 249px;
        width: 765px;
    }

    .flex-item {
        width: 249px;
        height: 249px;   
    }

    .item4 {
        display: none;
    }

    .footer {
        background-color: #000;
        padding-top: 66px;
        text-align: center;
        margin: auto;
        width: 940px;
        padding-bottom: 70px;
    }

    .p-touch {
        @include fontParameters (400, 16px, 28px, #B9B9B9);
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 22px;
        margin-bottom: 37px;
    }
}
@media (max-width: 320px) {

    .container {
        width: 373px;
        padding-left: 25px;
        padding-right: 28px;
        overflow: hidden; 
    }

    .header{    
        @include fontParameters (400, 11px, 22px, #4E4E4E);
        letter-spacing: 1.1px;
        text-transform: uppercase;
        height: 83px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    } 

    .button {
        width: 44px;
        height: 37px;
        background-color: #000;
        display: block;        
    }

    .menu-icon {
        display: block;
        margin-top: 9px;
        width: 30px;
        height: 20px;
        margin-left: 7px;
    }
    
    .x {        
        display: block;
        margin-top: 8px;
        width: 25px;
        height: 20px;
        margin-left: 10px;
    }

    .nav {
        display: none;
    }

    .burger-menu {
        display: block;
        width: 182px;
        height: 203px;
        background-color: #F5F5F5;
        position: absolute;
        top: 60px;
        left: 164px;
        li {
            width: 183px;
            height: 29px;
            padding-top: 5px;
            &:hover{
                background-color: #E5E5E5;
                padding-left: 0;
            }
        }
    }

    .inactive {
        display: none;
    }

    .first-menu-item {
        color: #57A4A4;        
        margin-left: 13px;
    }
    
    .menu-item {
        color: #4E4E4E;  
        margin-left: 13px;
    }
    
    .img {
        background-image: url("./img/intro-img.png");
        @include backgroundImg();
        width: 320px;
        height: 150px;
    }

    .posts {
        @include fontParameters (700, 16px, 22px, #4E4E4E);
        text-transform: uppercase;
        margin-top: 38px;
        margin-bottom: 23px;
        display: block;
    }

    .grid-container {
        height: 656px;
        width: 200px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .item-four {
        display: none;
    }

    .title {
        margin-top: 11px;
        @include fontParameters (700, 16px, 30px, #4E4E4E);
    }

    .comment {
        @include fontParameters (400, 12px, 20px, #7C7C7C);
        margin-bottom: 28px;
    }

    .p {
        display: none;
    }

    .section-three {
        width: 373px;
        padding-top: 0;
        padding-bottom: 40px;
        background-color: $backgroundcolor;       
    }

    .posts2 {
        @include fontParameters (700, 16px, 22px, #4E4E4E);
        text-transform: uppercase;
        margin-bottom: 15px;
        display: block;
    }

    .posts3 {
        display: none;
    }

    .flex-box {
        @include flexCenter();
        height: 301px;
        width: 301px;
        border: 1px solid red;
    }

    .flex-item {
        width: 301px;
        height: 301px;   
    }

    .item2, .item3, .item4 {
        display: none;
    }

    .footer {
        background-color: #000;
        padding-top: 38px;
        text-align: center;
        margin: auto;
        width: 373px;
        padding-bottom: 47px;
    }

    .touch {
        @include fontParameters (700, 14px, 22px, #FEFEFE);        
        text-transform: uppercase;
    }

    .p-touch {
        display: none;
    }

    .p-touch320 {
        @include fontParameters (700, 12px, 20px, #B9B9B9);
        display: block;
        width: 303px;
        height: 54px;
        margin-top: 8px;
        margin-bottom: 26px;
    }

    .contacts {
        @include fontParameters (400, 16px, 26px, #B9B9B9);
        display: none;
    }
    
    .contacts320 {
        @include fontParameters (400, 14px, 24px, #B9B9B9);
        display: block;
    }
}